/* Spline Sans */
@font-face {
    font-family: 'Spline Sans';
    src: url('../fonts/SplineSans.woff2') format('woff2'),
         url('../fonts/SplineSans.woff') format('woff');
    font-weight: 300 700;
    font-display: swap;
}

/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff2') format('woff2'),
         url('../fonts/NotoSans.woff') format('woff');
    font-weight: 400 700;
    font-display: swap;
}

/* Material Icons - local optional */
@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('../fonts/MaterialSymbolsOutlined.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
